<div class="container">
  <form #form="ngForm" class="form">
    <mat-form-field>
      <input
        type="text"
        placeholder="First Name"
        id="first-name"
        name="first-name"
        [(ngModel)]="newContact.FirstName"
        matInput
      />
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        placeholder="Last Name"
        id="last-name"
        name="last-name"
        [(ngModel)]="newContact.LastName"
        matInput
      />
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        placeholder="Phone Number"
        id="phone-number"
        name="phone-number"
        [(ngModel)]="newContact.Number"
        matInput
      />
    </mat-form-field>

    <button
      class="btn"
      mat-raised-button
      (click)="makeContact(newContact)"
      color="primary"
    >
      Make Contact
    </button>
    <button class="btn" mat-raised-button color="accent" (click)="change()">
      Cancel
    </button>
  </form>
</div>
