.form {
  display: flex;
  flex-direction: column;
}

.container {
  /* display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center; */

  backdrop-filter: blur(2px);
  /* top: 0;
  height: 100%;
  width: 100%;
  z-index: 3; */
}

.btn {
  margin: 2px;
}
