<mat-toolbar color="primary" class="top">
  <div>
    <mat-form-field>
      <input
        type="text"
        name="filter"
        id="filter"
        matInput
        [(ngModel)]="listFilter"
        placeholder="Search"
      />
    </mat-form-field>
  </div>

  <button mat-raised-button color="accent" (click)="contactMaker()">
    Add Contact
  </button>
</mat-toolbar>

<app-contact-maker
  class="form"
  [hidden]="contactMakerState == true"
></app-contact-maker>

<table id="tbl">
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Number</th>
  </tr>
  <tr *ngFor="let contact of filteredList">
    <td>{{ contact.FirstName }}</td>
    <td>{{ contact.LastName }}</td>
    <td>{{ contact.Number }}</td>
  </tr>
</table>
